.about {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}

.about-card {
    min-width: 450px;
    padding: 1.5rem;
    width: 500px;
    margin: 0 10px;
    align-items: center;
}