<div class="about container center-base">
    <mat-card class="about-card animate__animated animate__fadeIn animate__faster">
        <div class="page-start">
            <p class="page-title">Our Team</p>
            <p class="page-subtitle">"The people behind our success, united by passion and purpose."</p>
        </div>
        <br>
        <div class="team-container">
            <div class="employee-card">
              <img src="assets/images/team/mickey.jpg" alt="Employee Photo">
              <h3>AHSANUL ALAM (MICKEY)</h3>
              <p>Team Lead (Backend)</p>              
              <p>Dohatec New Media</p>
            </div>
            <div class="employee-card">
              <img src="assets/images/team/shahjahan.jpg" alt="Employee Photo">
              <h3>MD. SHAHJAHAN (SHAHED)</h3>
              <p>Sr. Software Engineer (Tech Lead)</p>
              <p>Dohatec New Media</p>
            </div>
            <div class="employee-card">
              <img src="assets/images/team/mazhar.jpg" alt="Employee Photo">
              <h3>MAZHAR IBNE ZAHUR</h3>
              <p>Software Engineer</p>
              <p>Tiller</p>
            </div>
            <div class="employee-card">
              <img src="https://via.placeholder.com/150" alt="Employee Photo">
              <h3>Michael Brown</h3>
              <p>Data Scientist</p>
            </div>
          </div>
    </mat-card>
</div>