.footer {
    display: grid;
    grid-template-columns: 2fr 6fr;
    gap: 30px;
    padding: 30px;
    color: #fff;
    background-color: #2E3192;
}

.footer-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.app-name {
    font-size: 2rem;
}

.description {
    margin: 0;
    font-size: 0.875rem;
}

.social-links {
    display: flex;
    gap: 1rem;
}

.facebook,
.twitter,
.youtube {
    fill: none;
    color: #eff4fe;
}

.contacts-links {
    display: flex;
    justify-content: space-evenly;
}

.contacts,
.links,
.external {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.title {
    display: block;
    margin-bottom: 10px;
    font-size: 1.125rem;
    font-weight: 500;
}

.segment {
    font-size: 0.875rem;
    margin: 0;
}

.footer-links {
    padding-left: 1rem !important;
}

.footer-links li {
    font-size: .9rem;
    margin-bottom: .2rem;
    font-weight: 500;
}