@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

$base-font: 'Inter Var', sans-serif;

$primary: rgb(80, 80, 219);
$secondary: rgba(var($primary), 0.3);
$theme-color: rgb(46, 49, 146);
$bg-color: rgb(221, 232, 235);

$theme-orange: rgb(221, 73, 25);