@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

$base-font: 'Inter Var', sans-serif;

$primary: #2E3192;
$secondary: rgba(var($primary), 0.3);
$theme-color: #2E3192;
$bg-color: #dde8eb;