// Custom animation delays
.animate__animated.animate__delay_5 {
    -webkit-animation-delay: 0.05s;
    animation-delay: 0.05s;
    -webkit-animation-delay: 0.05s;
    animation-delay: 0.05s;
}

.animate__animated.animate__delay_10 {
    -webkit-animation-delay: 0.10s;
    animation-delay: 0.10s;
    -webkit-animation-delay: 0.10s;
    animation-delay: 0.10s;
}

.animate__animated.animate__delay_15 {
    -webkit-animation-delay: 0.15s;
    animation-delay: 0.15s;
    -webkit-animation-delay: 0.15s;
    animation-delay: 0.15s;
}

.animate__animated.animate__delay_20 {
    -webkit-animation-delay: 0.20s;
    animation-delay: 0.20s;
    -webkit-animation-delay: 0.20s;
    animation-delay: 0.20s;
}

.animate__animated.animate__delay_25 {
    -webkit-animation-delay: 0.25s;
    animation-delay: 0.25s;
    -webkit-animation-delay: 0.25s;
    animation-delay: 0.25s;
}

.animate__animated.animate__delay_30 {
    -webkit-animation-delay: 0.30s;
    animation-delay: 0.30s;
    -webkit-animation-delay: 0.30s;
    animation-delay: 0.30s;
}

.animate__animated.animate__delay_35 {
    -webkit-animation-delay: 0.35s;
    animation-delay: 0.35s;
    -webkit-animation-delay: 0.35s;
    animation-delay: 0.35s;
}

.animate__animated.animate__delay_40 {
    -webkit-animation-delay: 0.40s;
    animation-delay: 0.40s;
    -webkit-animation-delay: 0.40s;
    animation-delay: 0.40s;
}

.animate__animated.animate__delay_45 {
    -webkit-animation-delay: 0.45s;
    animation-delay: 0.45s;
    -webkit-animation-delay: 0.45s;
    animation-delay: 0.45s;
}

.animate__animated.animate__delay_50 {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

//END