<div class="event-overview section container">
    <div class="change-password-section">
        <app-profile-outline [userProfile]="userProfileInfo" (onSuccessApplication)="loadProfileInformation()" ></app-profile-outline>
        <mat-card class="p-4 update-password-card animate__animated animate__zoomIn">
            <h4 class="card-title mb-2">Change Password</h4>
            <form [formGroup]="updatePasswordForm" class="card-content" (submit)="onSubmit()">
                <div class="form-row">
                    <mat-form-field class="form-field animate__animated animate__zoomIn" appearance="outline">
                      <mat-label>Current Password</mat-label>
                      <input matInput type="password" formControlName="oldPassword">
                      <mat-error *ngIf="updatePasswordForm.get('oldPassword')?.invalid && updatePasswordForm.get('oldPassword')?.touched">
                        Password is required
                      </mat-error>
                    </mat-form-field>
                </div>
                <div class="form-row">
                    <mat-form-field class="form-field animate__animated animate__zoomIn" appearance="outline">
                      <mat-label>New Password</mat-label>
                      <input matInput type="password" formControlName="newPassword">
                      <mat-error *ngIf="updatePasswordForm.get('newPassword')?.invalid && updatePasswordForm.get('newPassword')?.touched">
                        Password is required
                      </mat-error>
                    </mat-form-field>
                </div>
                <div class="form-row">
                    <mat-form-field class="form-field animate__animated animate__zoomIn" appearance="outline">
                      <mat-label>Re-type Password</mat-label>
                      <input matInput type="password" formControlName="confirmPassword">
                      <mat-error *ngIf="updatePasswordForm.get('confirmPassword')?.invalid && updatePasswordForm.get('confirmPassword')?.touched">
                        Passwords must match with new Password
                      </mat-error>
                    </mat-form-field>
                </div>
                <div class="text-center animate__animated animate__zoomIn ">
                    <button mat-fab extended type="submit" class="btn-app btn-update-password" [disabled]="updatePasswordForm.invalid"><mat-icon>check_circle</mat-icon>Update</button>
                </div>
            </form>
        </mat-card>
    </div>
</div>