<div class="container">
  <mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel class="alumni-filter-panel" [expanded]="true">
      <mat-expansion-panel-header class="alumni-filter-panel-header">
        <mat-panel-title><span class="panel-header-title">Filters</span></mat-panel-title>
      </mat-expansion-panel-header>
      <div class="event-action animate__animated animate__zoomIn animate__faster pt-3 px-2">
        <div class="left-search-boxes">
          <mat-form-field class="discipline-filter" appearance="outline">
            <mat-label>Discipline</mat-label>
            <mat-select [(ngModel)]="selectedDiscipline" required (selectionChange)="loadAlumnis()">
              @for (discipline of disciplines; track $index) {
                <mat-option [value]="discipline.shortName">{{discipline.shortName}}</mat-option>
              }
            </mat-select>
          </mat-form-field>
          <mat-form-field class="filter-box" appearance="outline">
            <mat-label>Batch</mat-label>
            <input matInput [(ngModel)]="selectedBatch" type="text" placeholder="e.g 11" [maxlength]="2">
          </mat-form-field>
  
          <mat-form-field class="filter-box" appearance="outline">
            <mat-label>Student ID</mat-label>
            <input matInput [(ngModel)]="selectedSID" type="text" [maxlength]="6">
          </mat-form-field>
          <mat-form-field class="search-box" appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput [(ngModel)]="selectedName" type="text">
          </mat-form-field>
        </div>
        <div class="right-search-button">
          <button mat-fab extended type="button" (click)="loadAlumnis()" class="btn-app btn-create-event">
            <mat-icon>check_circle</mat-icon>
            Search
          </button>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

  <div class="mat-elevation-z8 mx-2 my-3 animate__animated animate__zoomIn animate__faster">
    <div class="table-responsive">
      <table *ngIf="dataSource" mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)">
        <!-- Symbol Column -->
        <ng-container matColumnDef="alumni">
          <th mat-header-cell *matHeaderCellDef class="text-center" style="width: 100px;"> Alumni </th>
          <td class="text-center" mat-cell *matCellDef="let element">
            @if(element.photo==='--'){
              <mat-icon class="no-photo-icon" matTooltip="Image Unavailable" matTooltipPosition="right">block</mat-icon>
            }
            @else {
              <img src="{{element.photo}}" alt="" class="grid-photo">
            }
          </td>
        </ng-container>

        <ng-container matColumnDef="roll">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Roll">Roll</th>
          <td mat-cell *matCellDef="let element"> {{element.roll}} </td>
        </ng-container>
    
        <ng-container matColumnDef="fullName">
          <th class="text-center" mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Full Name">Full Name</th>
          <td mat-cell *matCellDef="let element"> {{element.fullName}} </td>
        </ng-container>
    
        <ng-container matColumnDef="discipline">
          <th class="text-center" mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Discipline">Discipline</th>
          <td mat-cell *matCellDef="let element"> {{element.discipline}} </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th class="text-center" mat-header-cell *matHeaderCellDef>Action</th>
          <td class="text-center" mat-cell *matCellDef="let element">
            <a [routerLink]="[element.roll]"><mat-icon>visibility</mat-icon></a>
          </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    
      <mat-paginator [pageSizeOptions]="[10, 20, 30, 50]"
                      showFirstLastButtons
                      aria-label="Select page of periodic elements"
                      [length]="pageInfo.totalElements" 
                      [pageSize]="pageInfo.size" 
                      (page)="onPage($event)"
                      *ngIf="pageInfo">
      </mat-paginator>
    </div>
  </div>
</div>
