<div class="event-action container animate__animated animate__zoomIn animate__faster pt-3 px-4">
    <a *isAdmin mat-fab extended class="btn-app" type="button" routerLink="create"><mat-icon>add_circle</mat-icon>Create Event</a>
    <mat-paginator class="event-paginator" [length]="pageInfo.totalElements" [pageSize]="pageInfo.size" [pageSizeOptions]="[6, 12, 36, 100]" aria-label="Select page" (page)="onPage($event)" *ngIf="pageInfo"> </mat-paginator>
</div>
<div class="event-overview section container margin-top-50">
    <div class="events">
        @for(event of events; track $index){
            <div class="event" [ngClass]="{'animate__animated animate__zoomIn animate__faster':initClass}">
                <app-event [event]="event"></app-event>
            </div>
        }
    </div>
</div>