<div class="event-overview section container">
    <div class="event-action">
        <a *isAdmin mat-fab extended class="btn-app animate__animated animate__zoomIn animate__fast" type="button" routerLink="create"><mat-icon>add_circle</mat-icon>Create Event</a>
    </div>
    <div class="events">
        <div class="event animate__animated animate__zoomIn">
            <img src="https://fastly.picsum.photos/id/76/4912/3264.jpg?hmac=VkFcSa2Rbv0R0ndYnz_FAmw02ON1pPVjuF_iVKbiiV8" alt="You should have eagle’s eye on new trends and techonogies" class="event-background">
            <time class="event-time">16 Oct</time>
            <div class="description">
                <p class="title">You should have eagle’s eye on new trends and techonogies</p>
                <p class="brief">You can relay on our amazing features list and also our customer services will be great experience for you without doubt</p>
                <a class="details" [routerLink]="[2]">Details</a>
            </div>
        </div>
        <div class="event animate__animated animate__zoomIn">
            <img src="https://fastly.picsum.photos/id/42/3456/2304.jpg?hmac=dhQvd1Qp19zg26MEwYMnfz34eLnGv8meGk_lFNAJR3g" alt="You should have eagle’s eye on new trends and techonogies" class="event-background">
            <time class="event-time">20 Oct</time>
            <div class="description">
                <p class="title">New Seminar on Newest Food Recipe from World’s Best</p>
                <p class="brief">You can relay on our amazing features list and also our customer services will be great experience for you without doubt</p>
                <a class="details" [routerLink]="[2]">Details</a>
            </div>
        </div>
        <div class="event animate__animated animate__zoomIn">
            <img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/blog/blog-home/img1.jpg" alt="You should have eagle’s eye on new trends and techonogies" class="event-background">
            <time class="event-time">12 Oct</time>
            <div class="description">
                <p class="title">Learn from small things to create something bigger.</p>
                <p class="brief">You can relay on our amazing features list and also our customer services will be great experience for you without doubt</p>
                <a class="details" [routerLink]="[2]">Details</a>
            </div>
        </div>
        <div class="event animate__animated animate__zoomIn">
            <img src="https://fastly.picsum.photos/id/76/4912/3264.jpg?hmac=VkFcSa2Rbv0R0ndYnz_FAmw02ON1pPVjuF_iVKbiiV8" alt="You should have eagle’s eye on new trends and techonogies" class="event-background">
            <time class="event-time">16 Oct</time>
            <div class="description">
                <p class="title">You should have eagle’s eye on new trends and techonogies</p>
                <p class="brief">You can relay on our amazing features list and also our customer services will be great experience for you without doubt</p>
                <a class="details" [routerLink]="[2]">Details</a>
            </div>
        </div>
        <div class="event animate__animated animate__zoomIn">
            <img src="https://fastly.picsum.photos/id/42/3456/2304.jpg?hmac=dhQvd1Qp19zg26MEwYMnfz34eLnGv8meGk_lFNAJR3g" alt="You should have eagle’s eye on new trends and techonogies" class="event-background">
            <time class="event-time">20 Oct</time>
            <div class="description">
                <p class="title">New Seminar on Newest Food Recipe from World’s Best</p>
                <p class="brief">You can relay on our amazing features list and also our customer services will be great experience for you without doubt</p>
                <a class="details" [routerLink]="[2]">Details</a>
            </div>
        </div>
        <div class="event animate__animated animate__zoomIn">
            <img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/blog/blog-home/img1.jpg" alt="You should have eagle’s eye on new trends and techonogies" class="event-background">
            <time class="event-time">12 Oct</time>
            <div class="description">
                <p class="title">Learn from small things to create something bigger.</p>
                <p class="brief">You can relay on our amazing features list and also our customer services will be great experience for you without doubt</p>
                <a class="details" [routerLink]="[2]">Details</a>
            </div>
        </div>
    </div>
</div>