<div class="event-overview section container">
    <div class="event-action">
        <a *isAdmin mat-fab extended class="btn-app animate__animated animate__zoomIn animate__fast" type="button" routerLink="create"><mat-icon>add_circle</mat-icon>Create Event</a>
    </div>
    <div class="events">
        @for(event of events; track $index){
            <div class="event animate__animated animate__zoomIn">
                <img src="https://fastly.picsum.photos/id/76/4912/3264.jpg?hmac=VkFcSa2Rbv0R0ndYnz_FAmw02ON1pPVjuF_iVKbiiV8" alt="You should have eagle’s eye on new trends and techonogies" class="event-background">
                <div class="overlay">
                    <time class="event-time">Time: {{event.eventTime}}</time>
                    <time class="event-time">Date: {{event.eventDate}}</time>
                </div>
                <div class="description">
                    <p class="title" [textContent]="event.eventName"></p>
                    <p class="brief" [textContent]="event.description"></p>
                    <a class="details" [routerLink]="[event.id]">Details</a>
                </div>
            </div>
        }
    </div>
</div>