<div class="event-overview section container">
    @if(userProfileInfo){
        <div class="profile-section-container">
            <app-profile-outline [userProfile]="userProfileInfo" (onSuccessApplication)="loadProfileInformation()" ></app-profile-outline>
            @if(!isUpdateCalled){
            <div class="right-panel">
                <mat-card class="profile-info animate__animated animate__slideInDown animate__faster">
                    <div class="update-block">
                        <span class="title">Profile</span>
                        <button mat-mini-fab aria-label="Update Profile Info" matTooltip="Update Profile" matTooltipPosition="below" class="update-profile" (click)="toggleUpdateMode()">
                            <mat-icon>edit</mat-icon>
                        </button>
                    </div>
                    <fieldset class="custom-fieldset">
                        <legend class="custom-legend">Presonal Information</legend>
                        <div class="details">
                            <div class="individual">
                                <span class="label">Full name</span>
                                <p class="content" [textContent]="userProfileInfo.fullName"></p>
                            </div>
                            <div class="individual">
                                <span class="label">nick name</span>
                                <p class="content" [textContent]="userProfileInfo.nickName"></p>
                            </div>
                            <div class="individual">
                                <span class="label">student id</span>
                                <p class="content" [textContent]="userProfileInfo.roll"></p>
                            </div>
                            <div class="individual">
                                <span class="label">blood group</span>
                                <p class="content" [textContent]="userProfileInfo.bloodGroup"></p>
                            </div>
                            <div class="individual">
                                <span class="label">birth date</span>
                                <p class="content" [textContent]="userProfileInfo.dob"></p>
                            </div>
                            <div class="individual">
                                <span class="label">mobile</span>
                                <p class="content" [textContent]="userProfileInfo.contactDetail.phoneNumber"></p>
                            </div>
                            <div class="individual">
                                <span class="label">email</span>
                                <p class="content" [textContent]="userProfileInfo.contactDetail.email"></p>
                            </div>
                            <div class="individual">
                                <span class="label">present address</span>
                                <p class="content">{{userProfileInfo.contactDetail.presentAddress}},{{userProfileInfo.contactDetail.presentCity}}, {{userProfileInfo.contactDetail.presentCountry}}</p>
                            </div>
                            <div class="individual">
                                <span class="label">permanent address</span>
                                <p class="content">{{userProfileInfo.contactDetail.permanentAddress}},{{userProfileInfo.contactDetail.permanentCity}}, {{userProfileInfo.contactDetail.permanentCountry}}</p>
                            </div>
                        </div>
                    </fieldset>
                    @if(userProfileInfo.contactDetail.company){                            
                        <fieldset class="custom-fieldset">
                            <legend class="custom-legend">Professional Information</legend>
                            <div class="details">
                                <div class="individual">
                                    <span class="label">Profession</span>
                                    <p class="content" [textContent]="userProfileInfo.contactDetail.profession"></p>
                                </div>
                                <div class="individual">
                                    <span class="label">Designation</span>
                                    <p class="content" [textContent]="userProfileInfo.contactDetail.designation"></p>
                                </div>
                                <div class="individual">
                                    <span class="label">Company</span>
                                    <p class="content" [textContent]="userProfileInfo.contactDetail.company"></p>
                                </div>
                                <div class="individual">
                                    <span class="label">Company Address</span>
                                    <p class="content" [textContent]="userProfileInfo.contactDetail.companyAddress"></p>
                                </div>
                            </div>
                        </fieldset>
                    }
                </mat-card>
                <app-membership-info [userProfile]="userProfileInfo" (onSuccessApplication)="loadProfileInformation()" class="membership-info"></app-membership-info>
                <app-external-links [userProfile]="userProfileInfo" (onSuccessApplication)="loadProfileInformation()"></app-external-links>
            </div>
            }
            @else {
            <app-update-profile [userProfile]="userProfileInfo" (toggleUpdate)="toggleUpdateMode()"></app-update-profile>
            }
        </div>
    }
</div>