@import "../../../../../assets/scss/common.scss";

.profile-section-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 30px;
    transition: 0.3s linear;
}

.left-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 20px;
    color: #5050db;
    background-color: #fff;
    box-shadow: 0 0 12px #eff4fe;
    justify-content: space-between;
}

.profile-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.profile-picture {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 3px solid #5050db;
}

.profile-picture img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    padding: 4px;
}

.profile-title {
    font-weight: 700;
    font-size: 1.5rem;
    text-transform: capitalize;
}

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: $theme-color;
}

.social-link {
    fill: none;
    font-size: .75rem;
    color: $theme-color;
}

.social-link svg {
    display: block;
}

.right-panel {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.profile-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background-color: #fff;
}

.profile-info .title {
    color: #888;
    text-transform: capitalize;
    font-size: 1.125rem;
    font-weight: 600;
}

.profile-info .details {
    display: flex;
    flex-direction: column;
}

.profile-info .details .individual {
    display: grid;
    grid-template-columns: 250px auto;
    transition: 0.3s ease-out;
    padding: 10px;
}

.profile-info .details .individual:hover {
    background-color: rgba($color: $theme-orange, $alpha: 0.1);
    transition: 0.3s ease-in;
}

.profile-info .details .individual .label {
    color: #37379c;
    font-weight: 500;
    text-transform: capitalize;
}

.profile-info .details .individual .content {
    color: $theme-orange;
    font-weight: 500;
    margin: 0 !important;
}

.update-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.update-profile {
    background-color: #5050db;
    color: white;
    transition: 0.2s ease-out;
}

.update-profile:hover {
    background-color: #2d2dac;
    transition: 0.2s ease-in;
}

.change-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    background-color: #5050db;
    color: white;
    transition: 0.2s ease-out;
}

.profile-picture:hover .change-button {
    display: block;
}

@media(max-width: 700px) {
    .profile-section-container {
        display: flex;
        gap: 30px;
        flex-direction: column;
        transition: 0.3s linear;
    }

    .profile-info .details .individual {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

}