<div class="event-overview section container">
    @if(userProfileInfo){
        <div class="profile-section-container">
            <mat-card class="top-panel animate__animated animate__slideInTop animate__faster">
                <div class="profile-picture animate__animated animate__flipInX" (mouseenter)="showButton()" (mouseleave)="hideButton()">
                    <img [src]="userProfileInfo.photo" alt="Profile Picture">
                    @if(isButtonVisible){
                        <div class="change-button-back">
                            <button mat-mini-fab aria-label="Change Profile Picture" matTooltip="Change Photo" matTooltipPosition="below" class="change-button" (click)="fileInput.click()">
                                <mat-icon>upload</mat-icon>
                            </button>
                        </div>
                    }
                    <input type="file" #fileInput (change)="onFileSelected($event)" hidden>
                </div>
                <div class="profile-brief">
                    <div class="profile-shorts">
                        <span class="profile-title animate__animated animate__rubberBand">{{userProfileInfo.fullName}}</span>
                        <div class="designation" matTooltip="Designation" matTooltipPosition="left" *ngIf="userProfileInfo.contactDetail.designation"><mat-icon>school</mat-icon><span>{{userProfileInfo.contactDetail.designation}}</span></div>
                        <div class="company" matTooltip="Company" matTooltipPosition="left" *ngIf="userProfileInfo.contactDetail.company"><mat-icon>domain</mat-icon><span>{{userProfileInfo.contactDetail.company}}</span></div>
                        <div class="phone" *ngIf="userProfileInfo.contactDetail.phoneNumber" matTooltip="Mobile" matTooltipPosition="left"><mat-icon>smartphone</mat-icon><span>{{userProfileInfo.contactDetail.phoneNumber}}</span></div>
                    </div>
                    <div class="socials">
                    @for (item of userProfileInfo.externalLinkInfo; track $index) {
                        @if(item.alumniExternalLinkName.toLowerCase()==='linkedin'){
                            <a [href]="item.alumniExternalLinkUrl" class="social-link" target="_blank" matTooltip="LinkedIn" matTooltipPosition="below">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke="currentColor" stroke-width="1.5"><path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"></path><rect x="2" y="9" width="4" height="12"></rect><circle cx="4" cy="4" r="2"></circle>
                                </svg>
                            </a>
                        }
                        @else if(item.alumniExternalLinkName.toLowerCase()==='facebook'){
                            <a [href]="item.alumniExternalLinkUrl" class="social-link" target="_blank" matTooltip="Facebook" matTooltipPosition="below">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke="currentColor" stroke-width="1.5"><path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path>
                                </svg>
                            </a>
                        }
                        @else if(item.alumniExternalLinkName.toLowerCase()==='github'){
                            <a [href]="item.alumniExternalLinkUrl" class="social-link" target="_blank" matTooltip="Github" matTooltipPosition="below">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke="currentColor" stroke-width="1.5">
                                    <path fill-rule="evenodd" d="M12 0C5.37 0 0 5.37 0 12c0 5.31 3.44 9.82 8.2 11.41.6.11.82-.25.82-.56 0-.28-.01-1.23-.01-2.23-3.02.55-3.8-.74-4.04-1.41-.14-.35-.74-1.41-1.23-1.69-.42-.22-1.01-.74-.02-.76.95-.02 1.62.87 1.85 1.23 1.08 1.81 2.8 1.31 3.49.99.11-.78.42-1.3.76-1.6-2.67-.3-5.46-1.34-5.46-5.93 0-1.31.46-2.39 1.23-3.23-.12-.3-.54-1.52.12-3.18 0 0 1.01-.33 3.3 1.23.96-.27 1.98-.4 3-.4s2.04.13 3 .4c2.29-1.56 3.3-1.23 3.3-1.23.66 1.66.24 2.88.12 3.18.77.84 1.23 1.92 1.23 3.23 0 4.6-2.8 5.63-5.48 5.93.43.37.82 1.1.82 2.23 0 1.61-.01 2.9-.01 3.3 0 .31.22.68.83.56A12.004 12.004 0 0024 12c0-6.63-5.37-12-12-12z"></path>   
                                </svg>
                            </a>
                        }
                        @else if(item.alumniExternalLinkName.toLowerCase()==='x'){
                            <a href="https://www.twitter.com/" class="social-link" target="_blank" matTooltip="X" matTooltipPosition="below">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke="currentColor" stroke-width="1.5"><path d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z"></path>
                            </svg>
                            </a>
                        }
                        @else if(item.alumniExternalLinkName.toLowerCase()==='website'){                           
                            <a [href]="item.alumniExternalLinkUrl" class="social-link" target="_blank" matTooltip="Web" matTooltipPosition="below">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke="currentColor" stroke-width="1.5"><circle cx="12" cy="12" r="10"></circle><line x1="2" y1="12" x2="22" y2="12"></line><path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"></path>
                                </svg>
                            </a>
                        }
                    }
                    </div>
                </div>
            </mat-card>
            @if(!isUpdateCalled){
                <div class="right-panel">
                    <mat-card class="profile-info animate__animated animate__slideInDown animate__faster">
                        <div class="update-block">
                            <span class="title">Profile</span>
                            <button mat-mini-fab aria-label="Update Profile Info" matTooltip="Update Profile" matTooltipPosition="below" class="update-profile" (click)="toggleUpdateMode()">
                                <mat-icon>edit</mat-icon>
                            </button>
                        </div>
                        <fieldset class="custom-fieldset">
                            <legend class="custom-legend">Presonal Information</legend>
                            <div class="details">
                                <div class="individual">
                                    <span class="label">Full name</span>
                                    <p class="content" [textContent]="userProfileInfo.fullName"></p>
                                </div>
                                <div class="individual">
                                    <span class="label">nick name</span>
                                    <p class="content" [textContent]="userProfileInfo.nickName"></p>
                                </div>
                                <div class="individual">
                                    <span class="label">student id</span>
                                    <p class="content" [textContent]="userProfileInfo.roll"></p>
                                </div>
                                <div class="individual">
                                    <span class="label">blood group</span>
                                    <p class="content" [textContent]="userProfileInfo.bloodGroup"></p>
                                </div>
                                <div class="individual">
                                    <span class="label">birth date</span>
                                    <p class="content" [textContent]="userProfileInfo.dob"></p>
                                </div>
                                <div class="individual">
                                    <span class="label">mobile</span>
                                    <p class="content" [textContent]="userProfileInfo.contactDetail.phoneNumber"></p>
                                </div>
                                <div class="individual">
                                    <span class="label">email</span>
                                    <p class="content" [textContent]="userProfileInfo.contactDetail.email"></p>
                                </div>
                                <div class="individual">
                                    <span class="label">present address</span>
                                    <p class="content">{{userProfileInfo.contactDetail.presentAddress}},{{userProfileInfo.contactDetail.presentCity}}, {{userProfileInfo.contactDetail.presentCountry}}</p>
                                </div>
                                <div class="individual">
                                    <span class="label">permanent address</span>
                                    <p class="content">{{userProfileInfo.contactDetail.permanentAddress}},{{userProfileInfo.contactDetail.permanentCity}}, {{userProfileInfo.contactDetail.permanentCountry}}</p>
                                </div>
                            </div>
                        </fieldset>
                        @if(userProfileInfo.contactDetail.company){                            
                            <fieldset class="custom-fieldset">
                                <legend class="custom-legend">Professional Information</legend>
                                <div class="details">
                                    <div class="individual">
                                        <span class="label">Profession</span>
                                        <p class="content" [textContent]="userProfileInfo.contactDetail.profession"></p>
                                    </div>
                                    <div class="individual">
                                        <span class="label">Designation</span>
                                        <p class="content" [textContent]="userProfileInfo.contactDetail.designation"></p>
                                    </div>
                                    <div class="individual">
                                        <span class="label">Company</span>
                                        <p class="content" [textContent]="userProfileInfo.contactDetail.company"></p>
                                    </div>
                                    <div class="individual">
                                        <span class="label">Company Address</span>
                                        <p class="content" [textContent]="userProfileInfo.contactDetail.companyAddress"></p>
                                    </div>
                                </div>
                            </fieldset>
                        }
                    </mat-card>
                    <app-membership-info [userProfile]="userProfileInfo" (onSuccessApplication)="loadProfileInformation()" class="membership-info"></app-membership-info>
                    <app-external-links [userProfile]="userProfileInfo" (onSuccessApplication)="loadProfileInformation()"></app-external-links>
                </div>
            }
            @else {
                <app-update-profile [userProfile]="userProfileInfo" (toggleUpdate)="toggleUpdateMode()"></app-update-profile>
            }
        </div>
    }
</div>