@import "../../../../../assets/scss/common.scss";

.profile-section-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    transition: 0.3s linear;
}

.top-panel {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    color: #5050db;
    background-color: #fff;
    box-shadow: 0 0 12px #eff4fe;
    justify-content: space-between;
}

.profile-picture {
    width: 180px;
    height: 200px;
    border-radius: 15px;
    border: 2px solid #5050db;
}

.profile-picture img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    padding: 5px;
}

.profile-brief {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 100%;
}

.profile-shorts {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 10px;
    min-width: 240px;
}

.profile-title {
    font-weight: 700;
    font-size: 1.5rem;
    text-transform: capitalize;
}

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: $theme-color;
}

.social-link {
    fill: none;
    font-size: .75rem;
    color: $theme-color;
}

.social-link svg {
    display: block;
}

.right-panel {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.profile-info {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #fff;
}

.profile-info .title {
    text-transform: capitalize;
    font-size: 1.5rem;
    font-weight: 600;
    color: #5050db;
}

.profile-info .details,
.link-group {
    display: flex;
    flex-direction: column;
}

.profile-info .details .individual {
    display: grid;
    grid-template-columns: 250px auto;
    transition: 0.3s ease-out;
    padding: 10px;
}

.profile-info .details .individual:hover {
    background-color: rgba($color: $theme-color, $alpha: 0.1);
    transition: 0.3s ease-in;
    transition: 0.3s ease-in;
    border-radius: 10px;
}

.profile-info .details .individual .label {
    color: #37379c;
    font-weight: 500;
    text-transform: capitalize;
}

.profile-info .details .individual .content {
    color: $theme-orange;
    font-weight: 500;
    margin: 0 !important;
}

.update-block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.update-profile {
    background-color: #5050db;
    color: white;
    transition: 0.2s ease-out;
    position: absolute;
    right: 1.5rem;
}

.update-profile:hover {
    background-color: #2d2dac;
    transition: 0.2s ease-in;
}

.change-button-back {
    height: 100%;
    width: 100%;
    background: rgba(207, 207, 207, 0.5);
    position: absolute;
    top: 0;
    border-radius: 13px;
    opacity: 0;
    transition: opacity 0.4s;
    cursor: pointer;
}

.change-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(80, 80, 219);
    color: white;
}

.profile-picture:hover .change-button-back {
    opacity: 1;
}

.company,
.designation,
.phone {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.company .mat-icon,
.designation .mat-icon,
.phone .mat-icon {
    font-size: 20px !important;
    margin-right: 5px !important;
}

.custom-fieldset {
    margin-top: 2rem;
    border: 1px solid rgba(80, 80, 219, 0.6);
    border-radius: 7px;
    padding: 1rem;
    width: 100%;
    background-color: #fdfdfd;
    box-shadow: inset 0 0px 5px rgba(80, 80, 219, 0.2);
}

.custom-legend {
    font-size: 14px;
    font-weight: 400;
    color: white;
    padding: 0 10px;
    position: absolute;
    margin-top: -1.8rem;
    background: #5050db;
    display: inline-flex;
    width: fit-content !important;
    border: 1px solid;
    border-radius: 7px;
}

.external-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.external-link-info {
    padding: 20px;
}

.ext-link-title {
    text-transform: capitalize;
    font-size: 1.5rem;
    font-weight: 600;
    color: #5050db;
}

.ext-links {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.ext-link-row {
    display: grid;
    grid-template-columns: 1fr 2fr 1.5fr 0.5fr;
    gap: 10px;
}

.btn-ext-link {
    height: 40px;
    width: 40px;
    color: white !important;
    padding: 5px !important;
    border-radius: 12px;
}

.btn-ext-link .mat-icon {
    font-size: 25px !important;
    height: 25px !important;
    width: 28px !important;
    margin: 0 !important;
}

.default {
    background-color: #5050db !important;
}

.red {
    background-color: rgb(197, 2, 2);
}

.green {
    background-color: rgb(0, 116, 0);
}

.inline-button {
    height: 30px !important;
}

.no-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}

.no-records {
    font-weight: 500;
    letter-spacing: 0rem;
}

.link-group {
    display: flex;
    flex-direction: column;
}

.link-group .individual {
    display: grid;
    grid-template-columns: 250px auto;
    transition: 0.3s ease-out;
    padding: 10px;
}

.link-group .individual .label {
    color: #37379c;
    font-weight: 500;
    text-transform: capitalize;
}

.link-group .individual .content {
    color: rgb(221, 73, 25);
    font-weight: 500;
    margin: 0 !important;
    width: fit-content;
}

.add-more {
    position: absolute;
    right: 25px;
    bottom: 25px;
}

@media(max-width: 850px) {
    .profile-section-container {
        display: flex;
        gap: 30px;
        flex-direction: column;
        transition: 0.3s linear;
    }

    .profile-brief {
        gap: 20px;
    }

    .details,
    .individual {
        display: flex !important;
        flex-direction: column;
        gap: 5px;
    }

    .ext-link-row {
        grid-template-columns: 1fr 1fr;
    }
}

@media(max-width: 550px) {
    .top-panel {
        margin: 0;
        transition: 0.3s ease;
        display: flex;
        gap: 25px;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }

    .profile-brief,
    .profile-shorts {
        align-items: center;
        gap: 5px;
    }

    .ext-link-row {
        grid-template-columns: 1fr;
    }
}