<div class="login-container center-base">
    <mat-card class="login-card animate__animated animate__fadeIn animate__faster">
      <h4 class="login-title animate__animated animate__zoomIn animate__faster">Reset Password</h4>
      <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" class="login-form">
        <input type="hidden" formControlName="token">
        <mat-form-field class="full-width animate__animated animate__backInRight animate__faster" appearance="outline">
          <mat-label>New Password</mat-label>
          <input matInput type="password" formControlName="password">
          <mat-error *ngIf="resetPasswordForm.get('password')?.invalid && resetPasswordForm.get('password')?.touched">
            Password is required
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width animate__animated animate__backInLeft animate__faster" appearance="outline">
            <mat-label>Re-type Password</mat-label>
            <input matInput type="password" formControlName="confirmPassword">
            <mat-error *ngIf="resetPasswordForm.get('confirmPassword')?.invalid && resetPasswordForm.get('confirmPassword')?.touched">
              Passwords must match with new Password
            </mat-error>
          </mat-form-field>
        <button mat-fab extended class="w-100 btn-app animate__animated animate__backInUp animate__faster" type="submit" [disabled]="resetPasswordForm.invalid"><mat-icon>lock_reset</mat-icon>Reset</button>
      </form>
    </mat-card>
</div>