<div class="site-navigation">
    <nav class="navbar navbar-expand-lg navbar-light bg-transparent navigation mx-4" *ngIf="!isResponsiveMenuOpened">        
        <a class="navbar-brand" href="#"><img src="assets/images/kuaa-logo.png" alt="" width="100px"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" (click)="onToggleMenuState()" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="#">Events</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Alumni</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Donations</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Job Circular</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="btn btn-primary mx-3" routerLink="/auth/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="btn btn-success" routerLink="/auth/register">Register</a>
            </li>
          </ul>
        </div>
    </nav>
    
    <!-- Responsive Menu Layout -->     
    <div class="overlay" *ngIf="isResponsiveMenuOpened">
      <div class="responsive-menu">
        <div class="menu">
          <div class="menu-header">
            <img src="assets/images/kuaa-logo.png" alt="" width="100px">
            <button class="nav-close" (click)="onToggleMenuState()">
              <mat-icon aria-hidden="false" aria-label="menu collapse" fontIcon="close" class="font-bold"></mat-icon>
            </button>
          </div>
          <div class="menu-content">
            <ul>
              <li><a routerLink="">Events</a></li>
              <li><a routerLink="">Alumni</a></li>
              <li><a routerLink="">Donations</a></li>
              <li><a routerLink="">Job Circular</a></li>
              <li><a routerLink="">About</a></li>
            </ul>
          </div>
          <div class="menu-auth">
            <ul *ngIf="isLoggedIn; else unauthorized;">
              <li>
                <a class="btn btn-primary mx-3" routerLink="/profile">Profile</a>
              </li>
              <li>
                <a class="btn btn-success" (click)="onLogout()">Logout</a>
              </li>
            </ul>
            <ng-template #unauthorized>
              <div class="auth-buttons">
                <a class="btn btn-primary mx-3" routerLink="/auth/login">Login</a>
                <a class="btn btn-success mx-3" routerLink="/auth/register">Register</a>
              </div>
            </ng-template>
          </div>
        </div>
      </div>        
    </div>
    <!-- END -->
</div>