<div class="site-navigation">
    <nav class="navbar navbar-expand-lg navbar-light bg-transparent navigation mx-4">        
        <a class="navbar-brand" href="#"><img src="assets/images/kuaa-logo.png" alt="" width="100px"></a>
        <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button> -->
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="#">Events</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Alumni</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Donations</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Job Circular</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="btn btn-primary mx-3" routerLink="/auth/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="btn btn-success" routerLink="/auth/register">Register</a>
            </li>
          </ul>
        </div>
    </nav>    
</div>