<div class="landing-container">
    <div class="slider">
        <ngb-carousel #carousel [interval]="0" class="custom-carousel">
            <ng-template ngbSlide>
              <img src="assets/images/slider/cover-1.jpeg" alt="Random first slide">
              <div class="carousel-caption">
                <h3>CSEKUAA BOAT TOUR 2023</h3>
                <p>CSEKUAA yearly outing</p>
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <img src="assets/images/slider/cover-2.jpeg" alt="Random second slide">
              <div class="carousel-caption">
                <h3>Team CSE in KUAA Futsal-2023</h3>
                <p>CSE alumni futsal team</p>
              </div>
            </ng-template>
            <!-- <ng-template ngbSlide>
              <img src="assets/images/slider/cover3.jpg" alt="Random third slide">
              <div class="carousel-caption">
                <h3>Third Slide</h3>
                <p>Description for the third slide.</p>
              </div>
            </ng-template> -->
        </ngb-carousel>
    </div>

    <div class="event-overview section container">
        <h1 class="section-title">Upcoming Events</h1>
        <p class="section-desc">You can relay on our amazing features list and also our customer services will be great experience for you without doubt</p>
        <div class="events">
            @for(event of events; track $index){
                @if($index<3){
                    <div class="event">
                        <app-event [event]="event" [isHome]="true"></app-event>
                    </div>
                }
            }
        </div>
        <div class="view-all-events text-right">
            <a routerLink="../events">View all</a>
        </div>
    </div>

    <div class="section scholarships">
        <div class="container scholarship">
            <div class="scholarship">
              <img class="section-image" src="assets/images/scholarship.svg" alt="scholarship">
            </div>
            <div class="scholarship-desc">
                <h1>Scholarship</h1>
                <p>Coming Soon</p>
                <div>
                    <button type="button" class="btn-apply-scholarship">Apply Now
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" class="_icon_x1ysk_81"><path stroke-linecap="round" stroke-linejoin="round" d="M15.042 21.672L13.684 16.6m0 0l-2.51 2.225.569-9.47 5.227 7.917-3.286-.672zm-7.518-.267A8.25 8.25 0 1120.25 10.5M8.288 14.212A5.25 5.25 0 1117.25 10.5"></path>
                        </svg>
                    </button>
                </div>
            </div>
          <!--  <img class="mobile-image" src="assets/images/studying.svg" alt="s">-->
        </div>
    </div>

    <div class="section job-openings container">
        <h1 class="section-title">Job Circular</h1>
        <p class="section-desc">Coming Soon</p>
        <!--<div class="sub-section">
            <div class="job">
                <div class="job-header">
                    <div class="job-header-info">
                        <img src="https://fastly.picsum.photos/id/513/4373/3280.jpg?hmac=LkZSEFr5H-jsaqmKTdANAlVWv6Zb38bDJxz5jQEyU0g" alt="logo_url">
                        <div class="job-info">
                            <p class="job-title">Mid-Level Position</p>
                            <div class="keywords">
                                <span class="keyword">Remote</span>
                                <span class="keyword"> $4000-$5000</span>
                            </div>
                        </div>
                    </div>
                    <div class="time-wrap">
                        <button type="button" class="btn-badge">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0111.186 0z"></path>
                            </svg>
                        </button>
                        <span class="post-timer">5min ago</span>
                    </div>
                </div>
                <p class="job-description">What is a job description? A job description is a tool that explains the tasks, duties, function and responsibilities of a position. It details who performs a specific type of work, how that work is to be completed, and the frequency and the purpose of the work as it relates to the organization's mission and goals.</p>
                <div class="job-footer">
                    <div class="tags">
                        <span class="tag">javascript</span>
                        <span class="tag"> node</span>
                        <span class="tag"> react</span>
                    </div>
                    <span class="btn-more">More<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true"><path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5"></path></svg>
                    </span>
                </div>
            </div>
            <div class="job">
                <div class="job-header">
                    <div class="job-header-info">
                        <img src="https://fastly.picsum.photos/id/513/4373/3280.jpg?hmac=LkZSEFr5H-jsaqmKTdANAlVWv6Zb38bDJxz5jQEyU0g" alt="logo_url">
                        <div class="job-info">
                            <p class="job-title">Mid-Level Position</p>
                            <div class="keywords">
                                <span class="keyword">Remote</span>
                                <span class="keyword"> $4000-$5000</span>
                            </div>
                        </div>
                    </div>
                    <div class="time-wrap">
                        <button type="button" class="btn-badge">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0111.186 0z"></path>
                            </svg>
                        </button>
                        <span class="post-timer">5min ago</span>
                    </div>
                </div>
                <p class="job-description">What is a job description? A job description is a tool that explains the tasks, duties, function and responsibilities of a position. It details who performs a specific type of work, how that work is to be completed, and the frequency and the purpose of the work as it relates to the organization's mission and goals.</p>
                <div class="job-footer">
                    <div class="tags">
                        <span class="tag">javascript</span>
                        <span class="tag"> node</span>
                        <span class="tag"> react</span>
                    </div>
                    <span class="btn-more">More<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true"><path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5"></path></svg>
                    </span>
                </div>
            </div>
            <div class="job">
                <div class="job-header">
                    <div class="job-header-info">
                        <img src="https://fastly.picsum.photos/id/513/4373/3280.jpg?hmac=LkZSEFr5H-jsaqmKTdANAlVWv6Zb38bDJxz5jQEyU0g" alt="logo_url">
                        <div class="job-info">
                            <p class="job-title">Mid-Level Position</p>
                            <div class="keywords">
                                <span class="keyword">Remote</span>
                                <span class="keyword"> $4000-$5000</span>
                            </div>
                        </div>
                    </div>
                    <div class="time-wrap">
                        <button type="button" class="btn-badge">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0111.186 0z"></path>
                            </svg>
                        </button>
                        <span class="post-timer">5min ago</span>
                    </div>
                </div>
                <p class="job-description">What is a job description? A job description is a tool that explains the tasks, duties, function and responsibilities of a position. It details who performs a specific type of work, how that work is to be completed, and the frequency and the purpose of the work as it relates to the organization's mission and goals.</p>
                <div class="job-footer">
                    <div class="tags">
                        <span class="tag">javascript</span>
                        <span class="tag"> node</span>
                        <span class="tag"> react</span>
                    </div>
                    <span class="btn-more">More<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true"><path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5"></path></svg>
                    </span>
                </div>
            </div>
        </div> -->
    </div>

    <div class="section donations">
        <div class="container donation">
            <img class="section-image" src="assets/images/donation.svg" alt="donation">
            <div class="donation-desc">
                <h1>Donation</h1>
                <p>Coming Soon</p>
                <div>
                    <button type="button" class="btn-apply-donation">Donate
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" class="_icon_x1ysk_81"><path stroke-linecap="round" stroke-linejoin="round" d="M15.042 21.672L13.684 16.6m0 0l-2.51 2.225.569-9.47 5.227 7.917-3.286-.672zm-7.518-.267A8.25 8.25 0 1120.25 10.5M8.288 14.212A5.25 5.25 0 1117.25 10.5"></path>
                        </svg>
                    </button>
                </div>
            </div>
            <!--<img class="mobile-image" src="assets/images/relief.svg" alt="s">-->
        </div>
    </div>
  <!-- commented out by ahsan -->

    <div class="section adhoc-committee container">
        <h1 class="section-title">Committee</h1>
        <p class="section-desc">Coming Soon</p>
      <!--<div class="committee">
          <div class="committee-member">
              <img src="https://fastly.picsum.photos/id/513/4373/3280.jpg?hmac=LkZSEFr5H-jsaqmKTdANAlVWv6Zb38bDJxz5jQEyU0g" alt="Mr Jhon Chena">
              <div class="member-info">
                  <strong>Mr Jhon Chena</strong>
                  <p>president</p>
              </div>
              <div class="member-social">
                  <a href="fcb" class="link-social">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke="currentColor" stroke-width="1.5" class="_icon_i3yo7_61"><path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path>
                      </svg>
                  </a>
                  <a href="lnk" class="link-social">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke="currentColor" stroke-width="1.5" class="_icon_i3yo7_61"><path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"></path><rect x="2" y="9" width="4" height="12"></rect><circle cx="4" cy="4" r="2"></circle></svg>
                  </a>
                  <a href="mailto:jhon@gmail.com" class="link-social">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" class="_icon_i3yo7_61"><path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75"></path></svg>
                  </a>
                  <a href="tel:01567753234" class="link-social">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" class="_icon_i3yo7_61"><path stroke-linecap="round" stroke-linejoin="round" d="M2.25 6.75c0 8.284 6.716 15 15 15h2.25a2.25 2.25 0 002.25-2.25v-1.372c0-.516-.351-.966-.852-1.091l-4.423-1.106c-.44-.11-.902.055-1.173.417l-.97 1.293c-.282.376-.769.542-1.21.38a12.035 12.035 0 01-7.143-7.143c-.162-.441.004-.928.38-1.21l1.293-.97c.363-.271.527-.734.417-1.173L6.963 3.102a1.125 1.125 0 00-1.091-.852H4.5A2.25 2.25 0 002.25 4.5v2.25z"></path></svg>
                  </a>
              </div>
          </div>
          <div class="committee-member">
              <img src="https://fastly.picsum.photos/id/548/5000/3333.jpg?hmac=BdycqoDMwkZoSovCL9E2F8MAyqdhkHVj8yYkHvkkkVM" alt="Mr Jhon Chena">
              <div class="member-info">
                  <strong>Mr The Rock</strong>
                  <p>Vice President</p>
              </div>
              <div class="member-social">
                  <a href="fcb" class="link-social">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke="currentColor" stroke-width="1.5" class="_icon_i3yo7_61"><path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path>
                      </svg>
                  </a>
                  <a href="lnk" class="link-social">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke="currentColor" stroke-width="1.5" class="_icon_i3yo7_61"><path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"></path><rect x="2" y="9" width="4" height="12"></rect><circle cx="4" cy="4" r="2"></circle></svg>
                  </a>
                  <a href="mailto:jhon@gmail.com" class="link-social">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" class="_icon_i3yo7_61"><path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75"></path></svg>
                  </a>
                  <a href="tel:01567753234" class="link-social">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" class="_icon_i3yo7_61"><path stroke-linecap="round" stroke-linejoin="round" d="M2.25 6.75c0 8.284 6.716 15 15 15h2.25a2.25 2.25 0 002.25-2.25v-1.372c0-.516-.351-.966-.852-1.091l-4.423-1.106c-.44-.11-.902.055-1.173.417l-.97 1.293c-.282.376-.769.542-1.21.38a12.035 12.035 0 01-7.143-7.143c-.162-.441.004-.928.38-1.21l1.293-.97c.363-.271.527-.734.417-1.173L6.963 3.102a1.125 1.125 0 00-1.091-.852H4.5A2.25 2.25 0 002.25 4.5v2.25z"></path></svg>
                  </a>
              </div>
          </div>
          <div class="committee-member">
              <img src="https://fastly.picsum.photos/id/513/4373/3280.jpg?hmac=LkZSEFr5H-jsaqmKTdANAlVWv6Zb38bDJxz5jQEyU0g" alt="Mr Jhon Chena">
              <div class="member-info">
                  <strong>Mr Jhon Chena</strong>
                  <p>president</p>
              </div>
              <div class="member-social">
                  <a href="fcb" class="link-social">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke="currentColor" stroke-width="1.5" class="_icon_i3yo7_61"><path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path>
                      </svg>
                  </a>
                  <a href="lnk" class="link-social">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke="currentColor" stroke-width="1.5" class="_icon_i3yo7_61"><path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"></path><rect x="2" y="9" width="4" height="12"></rect><circle cx="4" cy="4" r="2"></circle></svg>
                  </a>
                  <a href="mailto:jhon@gmail.com" class="link-social">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" class="_icon_i3yo7_61"><path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75"></path></svg>
                  </a>
                  <a href="tel:01567753234" class="link-social">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" class="_icon_i3yo7_61"><path stroke-linecap="round" stroke-linejoin="round" d="M2.25 6.75c0 8.284 6.716 15 15 15h2.25a2.25 2.25 0 002.25-2.25v-1.372c0-.516-.351-.966-.852-1.091l-4.423-1.106c-.44-.11-.902.055-1.173.417l-.97 1.293c-.282.376-.769.542-1.21.38a12.035 12.035 0 01-7.143-7.143c-.162-.441.004-.928.38-1.21l1.293-.97c.363-.271.527-.734.417-1.173L6.963 3.102a1.125 1.125 0 00-1.091-.852H4.5A2.25 2.25 0 002.25 4.5v2.25z"></path></svg>
                  </a>
              </div>
          </div>
          <div class="committee-member">
              <img src="https://fastly.picsum.photos/id/548/5000/3333.jpg?hmac=BdycqoDMwkZoSovCL9E2F8MAyqdhkHVj8yYkHvkkkVM" alt="Mr Jhon Chena">
              <div class="member-info">
                  <strong>Mr The Rock</strong>
                  <p>Vice President</p>
              </div>
              <div class="member-social">
                  <a href="fcb" class="link-social">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke="currentColor" stroke-width="1.5" class="_icon_i3yo7_61"><path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path>
                      </svg>
                  </a>
                  <a href="lnk" class="link-social">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke="currentColor" stroke-width="1.5" class="_icon_i3yo7_61"><path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"></path><rect x="2" y="9" width="4" height="12"></rect><circle cx="4" cy="4" r="2"></circle></svg>
                  </a>
                  <a href="mailto:jhon@gmail.com" class="link-social">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" class="_icon_i3yo7_61"><path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75"></path></svg>
                  </a>
                  <a href="tel:01567753234" class="link-social">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" class="_icon_i3yo7_61"><path stroke-linecap="round" stroke-linejoin="round" d="M2.25 6.75c0 8.284 6.716 15 15 15h2.25a2.25 2.25 0 002.25-2.25v-1.372c0-.516-.351-.966-.852-1.091l-4.423-1.106c-.44-.11-.902.055-1.173.417l-.97 1.293c-.282.376-.769.542-1.21.38a12.035 12.035 0 01-7.143-7.143c-.162-.441.004-.928.38-1.21l1.293-.97c.363-.271.527-.734.417-1.173L6.963 3.102a1.125 1.125 0 00-1.091-.852H4.5A2.25 2.25 0 002.25 4.5v2.25z"></path></svg>
                  </a>
              </div>
          </div>
      </div>-->
  </div>
</div>
