<div class="login-container center-base">
    <mat-card class="login-card animate__animated animate__fadeIn animate__faster">
      <h6 class="login-title animate__animated animate__zoomIn animate__faster">Forget Password</h6>
      <p class="reset-info animate__animated animate__zoomIn animate__faster">Please provide the registered emali address where we'll send the password reset link</p>
      <form [formGroup]="forgetPasswordForm" (ngSubmit)="onSubmit()" class="login-form">
        <mat-form-field class="full-width animate__animated animate__backInLeft animate__faster" appearance="outline">
          <mat-label>Registered Email</mat-label>
          <input matInput formControlName="email">
          <mat-error *ngIf="forgetPasswordForm.get('email')?.invalid && forgetPasswordForm.get('email')?.touched">
            Please enter a valid Email Address
          </mat-error>
        </mat-form-field>
        
        <button mat-fab extended class="w-100 btn-app animate__animated animate__backInUp animate__faster" type="submit" [disabled]="forgetPasswordForm.invalid"><mat-icon>cached</mat-icon>Request Reset</button>
      </form>
    </mat-card>
</div>