<div class="menu-content">
  <ul>
    <li><a routerLink="events" routerLinkActive="active">Events</a></li>
    <li><a routerLink="alumni" routerLinkActive="active">Alumni</a></li>
    <li><a routerLink="donation" routerLinkActive="active">Donations</a></li>
    <li><a routerLink="jobs" routerLinkActive="active">Job Circular</a></li>
    <li> <a routerLink="about" routerLinkActive="active">About</a></li>
  </ul>
</div>
<div class="menu-auth">
  @if(isLoggedIn){
    <ul class="auth-ul">
      <li>
        <a routerLink="user/profile" routerLinkActive="active">Profile</a>
      </li>
      <li>
        <a (click)="onLogout()">Logout</a>
      </li>
    </ul>
  }
  @else {
    <div class="auth-buttons">
      <a class="btn btn-primary mx-3" routerLink="/auth/login">Login</a>
      <a class="btn btn-success mx-3" routerLink="/auth/register">Register</a>
    </div>
  }
</div>