/* You can add global styles to this file, and also import other style files */
@import "./assets/scss/common.scss";

:root {
  font-family: $base-font !important;
  font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  font-variation-settings: normal;
}

html,
body {
  height: 100%;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

//   /* width */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px rgba($primary, 0.2);
  background: rgba($primary, 0.2);
  border-radius: 50px;
  padding: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $primary;
  transition: 0.2s ease-out;
  border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  transition: 0.2s ease-in;
}

/* Handle corner*/
::-webkit-scrollbar-corner {
  box-shadow: inset 0 0 3px rgba($primary, 0.2);
  background: $primary;
  border-radius: 50px;
}