.registration-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 319px);
}

.registration-card {
  min-width: 350px;
  padding: 2rem 1rem;
  width: 50%;
  max-width: 800px;
  transition: 0.3s ease;
}

.form-row {
  display: flex;
  justify-content: space-between;
}

.form-field {
  width: 48%;
  padding: 0.2rem 0;
}

mat-checkbox {
  width: 100%;
  margin-top: 10px;
}

button {
  width: 100%;
  margin-top: 20px;
}

.register-title {
  color: #2E3192;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.8rem;
  transition: 0.2s ease;
}

.account-exists {
  padding: 1.5rem 0 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.consent {
  flex-direction: column;
}

@media (max-width:1100px) {
  .registration-card {
    width: 75%;
    transition: 0.3s ease;
  }
}

@media (max-width:800px) {
  .registration-card {
    width: 95%;
    transition: 0.3s ease;
  }

  .register-title {
    font-size: 1.4rem;
    transition: 0.2s ease;
  }
}

@media (max-width: 550px) {
  .form-row {
    flex-direction: column;
  }

  .form-field {
    width: 100%;
  }
}