<div class="section container">
    <mat-card class="p-4 animate__animated animate__zoomIn animate__faster">
        <div class="header">
            <button mat-mini-fab aria-label="Back to Profile" matTooltip="Back to Profile" matTooltipPosition="below" class="btn-back" (click)="onBackToEvents()"><mat-icon>chevron_left</mat-icon></button>
            <span class="title m-0">Create Event</span>
            <span></span>
        </div>
        <form [formGroup]="createEventForm" (ngSubmit)="onSubmit()" class="mt-4">
            <input matInput formControlName="id" hidden>
            <div class="form-row mb-2">
                <mat-form-field class="form-field-half animate__animated animate__zoomIn animate__faster" appearance="outline">
                <mat-label>Event Name</mat-label>
                <input matInput formControlName="eventName">
                <mat-error *ngIf="createEventForm.get('eventName')?.invalid && createEventForm.get('eventName')?.touched">
                    Event Name Required!
                </mat-error>
                </mat-form-field>
                <mat-form-field class="form-field-half animate__animated animate__zoomIn animate__faster" appearance="outline">
                    <mat-label>Event Type</mat-label>
                    <mat-select formControlName="eventType" required>
                    @for (eventType of eventTypes; track $index) {
                        <mat-option [value]="eventType.eventTypeName">{{eventType.eventTypeName}}</mat-option>
                    }
                    </mat-select>
                    <mat-error *ngIf="createEventForm.get('eventType')?.invalid && createEventForm.get('eventType')?.touched">
                    Event type required
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="form-row mb-2">                   
                <mat-form-field class="form-field-half animate__animated animate__zoomIn animate__faster" appearance="outline">
                    <mat-label>Event Date</mat-label>
                    <input matInput formControlName="eventDate" [min]="minDate" [max]="maxDate" [matDatepicker]="picker" />
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error *ngIf="createEventForm.get('eventDate')?.invalid && createEventForm.get('eventDate')?.touched">
                    Event Date is required
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="form-field-half animate__animated animate__zoomIn animate__faster" appearance="outline">
                    <mat-label>Event Time</mat-label>
                    <input matInput [ngxTimepicker]="timePicker" formControlName="eventTime" placeholder="Select time">
                    <ngx-material-timepicker #timePicker></ngx-material-timepicker>
                    <mat-error *ngIf="createEventForm.get('eventTime')?.invalid && createEventForm.get('eventTime')?.touched">
                        Event Time is required
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="form-row mb-2">
                <mat-form-field class="form-field animate__animated animate__zoomIn animate__faster" appearance="outline">
                <mat-label>Description</mat-label>
                <textarea matInput formControlName="description" rows="5"></textarea>
                <mat-error *ngIf="createEventForm.get('description')?.invalid && createEventForm.get('description')?.touched">
                    Description Required!
                </mat-error>
                </mat-form-field>
            </div>
            <div class="form-row mb-2">
                <mat-form-field class="form-field animate__animated animate__zoomIn animate__faster" appearance="outline">
                <mat-label>Location</mat-label>
                <input matInput formControlName="location">
                <mat-error *ngIf="createEventForm.get('location')?.invalid && createEventForm.get('location')?.touched">
                    Location Required!
                </mat-error>
                </mat-form-field>
            </div>
            <div class="form-row mb-2">
                <mat-form-field class="form-field animate__animated animate__zoomIn animate__faster" appearance="outline">
                <mat-label>Link</mat-label>
                <input matInput formControlName="link">
                <mat-error *ngIf="createEventForm.get('link')?.invalid && createEventForm.get('link')?.touched">
                    Event Name Required!
                </mat-error>
                </mat-form-field>
            </div>
            <div class="text-center mt-2 animate__animated animate__zoomIn animate__faster">
                <button mat-fab extended type="submit" class="btn-app btn-create-event" [disabled]="createEventForm.invalid || !createEventForm.dirty"><mat-icon>check_circle</mat-icon>Create</button>
            </div>
        </form>
    </mat-card>
</div>